::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2B3137; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FAFBFC;
  }
/* 1.Główne */
body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	line-height: 1.2;
    color: #FAFBFC;
	background: #2B3137;
}
main {
	margin-top: 57px;
}
/* Koniec Główne */

/* 2.Nawigacja */
.nav_bar {
    position: fixed;
    background: #24292E;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 53px !important;
    color: #fff;
}
#logo {
    position: absolute;
    padding: 11px;
    font-size: 17px;
    color: #fff;
    top: 5px;
    left: 5px;
    font-weight: 400;
}
#logo:hover {
	border: 1px solid #fff;
	padding: 11px 11px;
	cursor: pointer;
}
#logo h1{
	margin:0;
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
}
#menu {
	display: none;
    margin: 0;
    justify-content: flex-end;
    display: flex;
	padding: 7px;
}
.menu
{
	color: white;
    display: block;
    text-decoration: none;
	background: #24292e;
}
.menu > a
{
    color: white !important;
}
.link_menu:hover {
	border: 1px solid #fff;
	padding: 11px 11px;
}
.link_menu {
	text-decoration: none;
    display: block;
    height: 16px;
    padding: 11px 12px;
}
a {
	text-decoration: none;
}
.hamburger {
    display: none;
    width: 25px;
    height: 3px;
    box-shadow: inset 0 0 50px 0, 0 -9px, 0 9px;
    margin: 18px 7px;	
}
/* Koniec Nawigacji */
/* Sekcje */
.welcome {
    font-size: 3rem;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
#connect {
	text-align: center;	
}
#connect a {
    font-size: 28px;
    border: 2px solid white;
    padding: 9px 17px;
    font-weight: 800;
}
#ts3 {
	background: url(../monitor.png) center no-repeat;
	width: 100%;
    height: 670px;
}
.ts3viewer {
    width: 792px;
    margin: auto;
    height: 492px;
    padding-top: 90px;
}
.v242867_tvjgrg13b {
		width: 780px;
		overflow-y: scroll;
		height: 492px;
		box-sizing: border-box;
	}
#wilget {
	text-align: center;
	height: 333px; 
}
/* Koniec Sekcje */
/* Footer */
#stopka {
	height: 150px;
	width: 100%;
    background: #151515;
    color: white;
}
#info {
    text-align: center;
    padding: 55px 0 55px 0;
    font-size: 8px;
}