@media (max-width: 800px) {
		
	.hamburger
	{
		display: inline-block;	
	}
	#menu
	{
		display: none;
		flex-direction: column;
		padding: 0 !important;
		width: 100%;
		margin-top: 47px;
		text-align: center;	
	}
	.v242867_tvjgrg13b {
		width: 456px !important;
		height: 722px !important;
	}
	.menu
	{
		width: 100%;
	}
	#mobile {
		height: 40px;
		width: 40px;
		margin: 0;
		float: right;
		padding: 0px;
	}
	#mobile:hover {
		height: 40px;
		width: 40px;
		padding: 0px;
		cursor: pointer;
		color: black;
		background: #fff;
		border-radius: 100%;
	}
	#ts3 {
		background: url(../phone.png) center no-repeat;
		height: 1095px;
	}
	.ts3viewer {
		width: 455px;
		margin: auto;
		height: 765px;
		padding-top: 150px;
	}
	.link_menu {
		padding: 20px;	
	}
	.link_menu:hover {
		padding: 19px;
	}
}
@media (max-width: 600px) {
	.v242867_tvjgrg13b {
		width: 415px !important;
		height: 722px !important;
	}
	#ts3 {
		height: 1022px;
		background-size: 1090px;
	}
	.ts3viewer {
		width: 415px;
		height: 721px;
	}
}
@media (max-width: 460px) {
	.v242867_tvjgrg13b {
		width: 415px !important;
		height: 722px !important;
	}
	#ts3 {
		height: 959px;
		background-size: 994px;
	}
	.ts3viewer {
		width: 371px;
		height: 653px;
	}
}
@media (max-width: 410px) {
	#ts3 {
		height: 874px;
		background-size: 867px;
	}
	.ts3viewer {
		width: 330px;
		height: 571px;
	}
}

@media (min-width: 800px) {
     #menu {display: flex !important;;}
}
